@media screen and (min-width: 1024px) {
  .agence {
    h1 {
      font-family: $fontText;
      font-weight: lighter;
      color: $primary-color;
      font-size: 25px;
      text-align: left;
      padding-left: 30px;
      position: relative;
      bottom: 30px;
    }
    .first_p {
      font-family: $fontText;
      color: $secondary-color;
      text-align: center;
      width: 70vw;
      font-size: 25px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 30px;
    }
    .valeurs {
      p {
        display: flex;
        justify-content: center;
        font-family: $fontText;
        color: $primary-color;
        font-size: 25px;
      }
    }
    .portraits {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
  }
        // Ajout CSS CC
        .portraits_line {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 50px 0 0 0;
        .divPortrait {
          max-width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-right: 100px;
          padding-left: 100px;
          padding-top: 20px;
          background-color: $background-color; //Ajout
          border-radius: 2%; // Ajout
          transition: background-color 0.3s ease; // Ajout
          &:hover {
            background-color: rgb(232, 232, 232); // Ajout
          }
          .imgPortrait {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            padding: 0 200px;
            object-fit: cover;
          }
          .nom {
            font-family: $fontTitre;
            color: $primary-color;
            font-size: 22px;
          }
          .pres {
            padding-top: 30px;
            font-family: $fontText;
            color: $secondary-color;
          }
          }
      }
// Fin CSS CC

  }
}

// TABLETTE
@media screen and (max-width: 1023px) {
  .agence {
    h1 {
      font-family: $fontText;
      font-weight: lighter;
      color: $primary-color;
      font-size: 24px;
      text-align: left;
      padding-left: 30px;
      position: relative;
      bottom: 30px;
    }
    .first_p {
      font-family: $fontText;
      color: $secondary-color;
      text-align: center;
      width: 90vw;
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
    }
    .valeurs {
      p {
        display: flex;
        justify-content: center;
        font-family: $fontText;
        color: $primary-color;
        font-size: 25px;
      }
    }
    // Modifications CC
    .portraits {
      padding-top: 40px;

      .portraits_line {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .divPortrait {
          max-width: 75%;
          padding: 0 15px; 
          margin-bottom: 20px;

          .imgPortrait {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            object-fit: cover;
            padding: 0; // enlever le padding superflu
          }

          .pres {
            font-family: $fontText;
            color: $secondary-color;
            font-size: 16px;
            width: 65vw;
            .nom {
              font-family: $fontTitre;
              color: $primary-color;
              font-size: 20px;
          }
        }
      }
      }
    }
  }
}

// MOBILE
@media screen and (max-width: 727px) {
  .agence {
    h1 {
      font-family: $fontText;
      font-weight: lighter;
      color: $primary-color;
      font-size: 20px;
      text-align: left;
      padding-left: 30px;
      position: relative;
      bottom: 30px;
    }
    .first_p {
      font-family: $fontText;
      color: $secondary-color;
      text-align: center;
      width: 90vw;
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
    }
    .valeurs {
      p {
        display: flex;
        justify-content: center;
        font-family: $fontText;
        color: $primary-color;
        font-size: 25px;
      }
    }
    // Modifications CC
    .portraits {
      padding-top: 40px;

      .portraits_line {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .divPortrait {
          max-width: 75%;
          padding: 0 15px; 
          margin-bottom: 20px;

          .imgPortrait {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            object-fit: cover;
            padding: 0; // enlever le padding superflu
          }

          .pres {
            font-family: $fontText;
            color: $secondary-color;
            font-size: 16px;

            .nom {
              font-family: $fontTitre;
              color: $primary-color;
              font-size: 20px;
          }
        }
      }
      }
    }
  }
}