@media screen and (min-width: 1024px) {
  .home_title_top {
    color: $primary-color;
    font-family: $fontText;
    display: block;
    padding-left: 30px;
    text-align: left;
    font-size: 25px;
    font-weight: lighter;
    position: relative;
    bottom: 20px;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .projets_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 80vw;
      p {
        font-family: $fontText;
        color: $secondary-color;
        text-align: left;
        width: 70vw;
        font-size: 18px;
      }
      .projets_photo {
        position: relative;
        bottom: 200px;
        h2 {
          position: relative;
          top: 320px;
          left: 350px;
          font-family: $fontTitre;
          color: $background-color;
          font-size: 70px;
          font-weight: lighter;
          z-index: 3;
          width: 40%;
        }
        .picture_projects {
          position: relative;
          z-index: 2;
          height: 55vh;
          width: 70vw;
          box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          margin: 0;
        }
        .picture_projects:hover {
          filter: blur(4px);
        }
      }
    }
    .services_sections {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      width: 80vw;
      padding: 100px 0;
      p {
        font-family: $fontText;
        color: $secondary-color;
        text-align: center;
        font-size: 22px;
      }
      .services_cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .service_coordination {
          h2 {
            position: relative;
            top: 70px;
            font-family: $fontTitre;
            color: #fff;
            font-weight: bold;
            margin: 0;
            text-shadow: rgba(0, 0, 0, 0.25) 1px 4px 10px;
          }
          img {
            height: 250px;
            width: 400px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          }
        }
        .service_coordination:hover {
          filter: brightness(0.9);
        }
        .service_prevention {
          position: relative;
          bottom: 18px;
          h2 {
            position: relative;
            top: 150px;
            font-family: $fontTitre;
            color: #fff;
            font-weight: bold;
            margin: 0;
            text-shadow: rgba(0, 0, 0, 0.25) 1px 4px 10px;
          }
          img {
            height: 250px;
            width: 400px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          }
        }
        .service_prevention:hover {
          filter: brightness(0.9);
        }
        .service_audit {
          h2 {
            position: relative;
            top: 200px;
            font-family: $fontTitre;
            color: #fff;
            font-weight: bold;
            margin: 0;
            text-shadow: rgba(0, 0, 0, 0.25) 1px 4px 10px;
          }
          img {
            height: 250px;
            max-width: 400px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          }
        }
        .service_audit:hover {
          filter: brightness(0.9);
        }
      }
    }
    .avis {
      position: relative;
      top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 80vw;
    }
    .team {
      position: relative;
      top: 200px;
    }
  }
}

// TABLETTE
@media screen and (max-width: 1023px) {
  .home_title_top {
    color: $primary-color;
    font-family: $fontText;
    display: block;
    padding-left: 30px;
    text-align: left;
    font-size: 24px;
    font-weight: lighter;
    position: relative;
    bottom: 30px;
    width: 70vw;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    .services_sections {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      width: 90vw;
      p {
        font-family: $fontText;
        color: $secondary-color;
        text-align: center;
        font-size: 18px;
      }
      .services_cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .service_coordination {
          h2 {
            position: relative;
            top: 70px;
            font-family: $fontTitre;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            text-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          }
          img {
            height: 25vh;
            width: 85vw;
            object-fit: cover;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          }
        }
        .service_prevention {
          position: relative;
          bottom: 18px;
          h2 {
            position: relative;
            top: 150px;
            font-family: $fontTitre;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            text-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          }
          img {
            height: 25vh;
            width: 85vw;
            object-fit: cover;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          }
        }
        .service_audit {
          h2 {
            position: relative;
            top: 200px;
            font-family: $fontTitre;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            text-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          }
          img {
            height: 25vh;
            width: 85vw;
            object-fit: cover;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          }
        }
      }
    }
    .projets_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 90vw;
      margin-top: 50px;
      margin-bottom: -80px;
      p {
        font-family: $fontText;
        color: $secondary-color;
        text-align: center;
        width: 90vw;
        font-size: 16px;
        padding-bottom: 40px;
      }
      .projets_photo {
        position: relative;
        bottom: 150px;
        h2 {
          position: relative;
          top: 150px;
          font-family: $fontTitre;
          color: $secondary-color;
          font-size: 50px;
          font-weight: lighter;
          z-index: 3;
        }
        .picture_projects {
          position: relative;
          z-index: 2;
          height: 35vh;
          width: 85vw;
          box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          margin: 0;
        }
      }
      .picture_projects:hover {
        filter: blur(2px);
      }
    }

    .avis {
      position: relative;
      top: 0px;
      width: 85vw;
    }
    .team {
      position: relative;
      top: 120px;
    }
  }
}

// MOBILE
@media screen and (max-width: 767px) {
  .home_title_top {
    color: $primary-color;
    font-family: $fontText;
    display: block;
    padding-left: 30px;
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
    position: relative;
    bottom: 35px;
    width: 70vw;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    .services_sections {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      width: 90vw;
      p {
        font-family: $fontText;
        color: $secondary-color;
        text-align: center;
        font-size: 16px;
      }
      .services_cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .service_coordination {
          h2 {
            position: relative;
            top: 70px;
            font-family: $fontTitre;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            text-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          }
          img {
            height: 200px;
            width: 85vw;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          }
        }
        .service_prevention {
          position: relative;
          bottom: 18px;
          h2 {
            position: relative;
            top: 150px;
            font-family: $fontTitre;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            text-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          }
          img {
            height: 200px;
            width: 85vw;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          }
        }
        .service_audit {
          h2 {
            position: relative;
            top: 200px;
            font-family: $fontTitre;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            text-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          }
          img {
            height: 200px;
            width: 85vw;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          }
        }
      }
    }
    .projets_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 90vw;
      margin-top: 50px;
      margin-bottom: -80px;
      p {
        font-family: $fontText;
        color: $secondary-color;
        text-align: center;
        width: 90vw;
        font-size: 16px;
        padding-bottom: 40px;
      }
      .projets_photo {
        position: relative;
        bottom: 150px;
        h2 {
          position: relative;
          top: 150px;
          font-family: $fontTitre;
          color: $secondary-color;
          font-size: 50px;
          font-weight: lighter;
          z-index: 3;
        }
        .picture_projects {
          position: relative;
          z-index: 2;
          height: 35vh;
          width: 85vw;
          box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          margin: 0;
        }
      }
      .picture_projects:hover {
        filter: blur(2px);
      }
    }

    .avis {
      position: relative;
      top: 0px;
      width: 85vw;
    }
    .team {
      position: relative;
      top: 120px;
    }
  }

  // a.underline-hover-effect {
  //   text-decoration: none;
  //   color: inherit;
  // }
  // .underline-hover-effect {
  //   display: inline-block;
  //   padding-bottom: 0.25rem; /* defines the space between text and underline */
  //   position: relative;
  // }

  // .underline-hover-effect::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   width: 0;
  //   height: 2px;
  //   background-color: $secondary-color;
  //   transition: width 0.25s ease-out;
  // }
  // .underline-hover-effect:hover::after {
  //   width: 100%;
  // }
}
