@media screen and (min-width: 600px) {
  .projets {
    h1 {
      font-family: $fontText;
      font-weight: lighter;
      color: $primary-color;
      font-size: 25px;
      text-align: left;
      padding-left: 30px;
      position: relative;
      bottom: 20px;
    }
    .projets_images {
      display: flex;
      flex-direction: column;
      align-items: center;
      .projets_images_1 {
        width: 100%;
        position: relative;
        .projets_images_1_header {
          position: absolute;
          // top: -2%;
          z-index: 2;
          left: 17%;
          color: $background-color;
          font-family: $fontText;
          font-size: 25px;
          margin: 0;
          // transform: translate(-50%, -50%);
          // opacity: 0;
          // transition: opacity 0.7s;
          color: $primary-color;
        }
        img {
          width: 80%;
          max-width: 100%;
          height: 600px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 25px;
          h3 {
            font-size: 55px;
            margin: 0;
          }
          a {
            font-size: 25px;
          }
        }
      }
      .projets_images_1:hover img {
        filter: brightness(0.7);
      }
      .projets_images_1:hover p {
        opacity: 1;
      }
      .projets_images_2 {
        width: 100%;
        position: relative;
        img {
          width: 80%;
          max-width: 100%;
          height: 600px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 25px;
          h3 {
            font-size: 55px;
            margin: 0;
          }
          a {
            font-size: 25px;
          }
        }
      }
      .projets_images_2:hover img {
        filter: brightness(0.7);
      }
      .projets_images_2:hover p {
        opacity: 1;
      }

      .projets_images_3 {
        width: 100%;
        position: relative;

        img {
          width: 80%;
          max-width: 100%;
          height: 600px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 25px;
          h3 {
            font-size: 55px;
            margin: 0;
          }
          a {
            font-size: 25px;
          }
        }
      }
      .projets_images_3:hover img {
        filter: brightness(0.7);
      }
      .projets_images_3:hover p {
        opacity: 1;
      }
      .projets_images_4 {
        width: 100%;
        position: relative;
        .projets_images_1_header {
          position: absolute;
          // top: -2%;
          z-index: 2;
          left: 17%;
          color: $background-color;
          font-family: $fontText;
          font-size: 25px;
          margin: 0;
          // transform: translate(-50%, -50%);
          // opacity: 0;
          // transition: opacity 0.7s;
          color: $primary-color;
        }
        img {
          width: 80%;
          max-width: 100%;
          height: 600px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 25px;
          h3 {
            font-size: 55px;
            margin: 0;
          }
          a {
            font-size: 25px;
          }
        }
      }
      .projets_images_4:hover img {
        filter: brightness(0.7);
      }
      .projets_images_4:hover p {
        opacity: 1;
      }
      .projets_images_5 {
        width: 100%;
        position: relative;
        img {
          width: 80%;
          max-width: 100%;
          height: 600px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 25px;
          h3 {
            font-size: 55px;
            margin: 0;
          }
          a {
            font-size: 25px;
          }
        }
      }
      .projets_images_5:hover img {
        filter: brightness(0.7);
      }
      .projets_images_5:hover p {
        opacity: 1;
      }
      .projets_images_6 {
        width: 100%;
        position: relative;
        .projets_images_1_header {
          position: absolute;
          // top: -2%;
          z-index: 2;
          left: 17%;
          color: $background-color;
          font-family: $fontText;
          font-size: 25px;
          margin: 0;
          // transform: translate(-50%, -50%);
          // opacity: 0;
          // transition: opacity 0.7s;
          color: $primary-color;
        }
        img {
          width: 80%;
          max-width: 100%;
          height: 600px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 25px;
          h3 {
            font-size: 55px;
            margin: 0;
          }
          a {
            font-size: 25px;
          }
        }
      }
      .projets_images_6:hover img {
        filter: brightness(0.7);
      }
      .projets_images_6:hover p {
        opacity: 1;
      }
      .projets_images_7 {
        width: 100%;
        position: relative;
        .projets_images_1_header {
          position: absolute;
          // top: -2%;
          z-index: 2;
          left: 17%;
          color: $background-color;
          font-family: $fontText;
          font-size: 25px;
          margin: 0;
          // transform: translate(-50%, -50%);
          // opacity: 0;
          // transition: opacity 0.7s;
          color: $primary-color;
        }
        img {
          width: 80%;
          max-width: 100%;
          height: 600px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 25px;
          h3 {
            font-size: 55px;
            margin: 0;
          }
          a {
            font-size: 25px;
          }
        }
      }
      .projets_images_7:hover img {
        filter: brightness(0.7);
      }
      .projets_images_7:hover p {
        opacity: 1;
      }
      .projets_images_8 {
        width: 100%;
        position: relative;
        img {
          width: 80%;
          max-width: 100%;
          height: 600px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 25px;
          h3 {
            font-size: 55px;
            margin: 0;
          }
          a {
            font-size: 25px;
          }
        }
      }
      .projets_images_8:hover img {
        filter: brightness(0.7);
      }
      .projets_images_8:hover p {
        opacity: 1;
      }
      .projets_images_9 {
        width: 100%;
        position: relative;
        img {
          width: 80%;
          max-width: 100%;
          height: 600px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 25px;
          h3 {
            font-size: 55px;
            margin: 0;
          }
          a {
            font-size: 25px;
          }
        }
      }
      .projets_images_9:hover img {
        filter: brightness(0.7);
      }
      .projets_images_9:hover p {
        opacity: 1;
      }
    }
  }
}
// .projets_images_1_text {
//   position: absolute;
//   top: 65%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   color: $background-color;
//   opacity: 0;
//   transition: opacity 0.7s;
//   font-family: $fontText;
//   font-size: 25px;
//   // revoir syntaxe du text shadow
//   // text-shadow: 1px black;
//   h3 {
//     font-size: 55px;
//     margin: 0;
//   }
//   a {
//     font-size: 45px;
//   }
// }

@media screen and (max-width: 600px) {
  .projets {
    h1 {
      font-family: $fontText;
      font-weight: lighter;
      color: $primary-color;
      font-size: 18px;
      text-align: left;
      padding-left: 30px;
      position: relative;
      bottom: 30px;
    }
    .projets_images {
      display: flex;
      flex-direction: column;
      align-items: center;

      .projets_images_1 {
        width: 100%;
        position: relative;
        transition: 1s;
        h3 {
          color: $primary-color;
          font-size: 25px;
          margin-bottom: 0;
        }
        img {
          width: 90%;
          height: 300px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 13px;
          // width: 300px;
          h3 {
            font-size: 25px;
            margin: 0;
            color: $background-color;
          }
          a {
            font-size: 18px;
          }
        }
      }
      .projets_images_1:hover img {
        filter: brightness(0.4);
      }
      .projets_images_1:hover p {
        opacity: 1;
      }
      .projets_images_2 {
        width: 100%;
        position: relative;
        transition: 1s;
        h3 {
          color: $primary-color;
          font-size: 25px;
          margin-bottom: 0;
        }
        img {
          width: 90%;
          height: 300px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 13px;
          // width: 300px;
          h3 {
            font-size: 25px;
            margin: 0;
            color: $background-color;
          }
          a {
            font-size: 18px;
          }
        }
      }
      .projets_images_2:hover img {
        filter: brightness(0.4);
      }
      .projets_images_2:hover p {
        opacity: 1;
      }
      .projets_images_3 {
        width: 100%;
        position: relative;
        transition: 1s;
        h3 {
          color: $primary-color;
          font-size: 25px;
          margin-bottom: 0;
        }
        img {
          width: 90%;
          height: 300px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 13px;
          // width: 300px;
          h3 {
            font-size: 25px;
            margin: 0;
            color: $background-color;
          }
          a {
            font-size: 18px;
          }
        }
      }
      .projets_images_3:hover img {
        filter: brightness(0.4);
      }
      .projets_images_3:hover p {
        opacity: 1;
      }
      .projets_images_4 {
        width: 100%;
        position: relative;
        transition: 1s;
        h3 {
          color: $primary-color;
          font-size: 25px;
          margin-bottom: 0;
        }
        img {
          width: 90%;
          height: 300px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 13px;
          // width: 300px;
          h3 {
            font-size: 25px;
            margin: 0;
            color: $background-color;
          }
          a {
            font-size: 18px;
          }
        }
      }
      .projets_images_4:hover img {
        filter: brightness(0.4);
      }
      .projets_images_4:hover p {
        opacity: 1;
      }
      .projets_images_5 {
        width: 100%;
        position: relative;
        transition: 1s;
        h3 {
          color: $primary-color;
          font-size: 25px;
          margin-bottom: 0;
        }
        img {
          width: 90%;
          height: 300px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 13px;
          // width: 300px;
          h3 {
            font-size: 25px;
            margin: 0;
            color: $background-color;
          }
          a {
            font-size: 18px;
          }
        }
      }
      .projets_images_5:hover img {
        filter: brightness(0.4);
      }
      .projets_images_5:hover p {
        opacity: 1;
      }
      .projets_images_6 {
        width: 100%;
        position: relative;
        transition: 1s;
        h3 {
          color: $primary-color;
          font-size: 25px;
          margin-bottom: 0;
        }
        img {
          width: 90%;
          height: 300px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 13px;
          // width: 300px;
          h3 {
            font-size: 25px;
            margin: 0;
            color: $background-color;
          }
          a {
            font-size: 18px;
          }
        }
      }
      .projets_images_6:hover img {
        filter: brightness(0.4);
      }
      .projets_images_6:hover p {
        opacity: 1;
      }
      .projets_images_7 {
        width: 100%;
        position: relative;
        transition: 1s;
        h3 {
          color: $primary-color;
          font-size: 25px;
          margin-bottom: 0;
        }
        img {
          width: 90%;
          height: 300px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 13px;
          // width: 300px;
          h3 {
            font-size: 25px;
            margin: 0;
            color: $background-color;
          }
          a {
            font-size: 18px;
          }
        }
      }
      .projets_images_7:hover img {
        filter: brightness(0.4);
      }
      .projets_images_7:hover p {
        opacity: 1;
      }
      .projets_images_8 {
        width: 100%;
        position: relative;
        transition: 1s;
        h3 {
          color: $primary-color;
          font-size: 25px;
          margin-bottom: 0;
        }
        img {
          width: 90%;
          height: 300px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 13px;
          // width: 300px;
          h3 {
            font-size: 25px;
            margin: 0;
            color: $background-color;
          }
          a {
            font-size: 18px;
          }
        }
      }
      .projets_images_8:hover img {
        filter: brightness(0.4);
      }
      .projets_images_8:hover p {
        opacity: 1;
      }
      .projets_images_9 {
        width: 100%;
        position: relative;
        transition: 1s;
        h3 {
          color: $primary-color;
          font-size: 25px;
          margin-bottom: 0;
        }
        img {
          width: 90%;
          height: 300px;
          padding: 50px 0;
          transition: filter 0.7s;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $background-color;
          opacity: 0;
          transition: opacity 0.7s;
          font-family: $fontText;
          font-size: 13px;
          // width: 300px;
          h3 {
            font-size: 25px;
            margin: 0;
            color: $background-color;
          }
          a {
            font-size: 18px;
          }
        }
      }
      .projets_images_9:hover img {
        filter: brightness(0.4);
      }
      .projets_images_9:hover p {
        opacity: 1;
      }
    }
  }
}
